<div class="container-fluid" style="width: 25%;float: left;">
    <div class="form-floating mb-3">
        <textarea style="height: auto;" type="email" [(ngModel)]="currentPoint" [ngClass]="retroInput.CardStyle" (keyup.enter)="AddNewPoint()"
            class="form-control" id="floatingInput" rows="15" placeholder="what went well" rows="3"></textarea>
        <label for="floatingInput" [ngClass]="retroInput.ContentStyle">{{retroInput.RetroTitle}}</label>
    </div>
    <div *ngIf="retroPoints?.length>0" style="padding: 1%;overflow-y: auto;max-height: 85vh;">
        <div *ngFor="let point of retroPoints" class="content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" [ngClass]="retroInput.CardStyle" data-background="color"
                    data-radius="none">
                    <div class="content input-group">
                        <p style="margin-bottom: 0% !important;" [ngClass]="retroInput.ContentStyle">{{point.Text}}
                        </p>
                        <span style="margin-left: auto;"> <i href="" (click)="open(mymodal,point.Id)"
                                class="bi bi-pencil-square" style="cursor: pointer;"
                                [ngClass]="retroInput.ContentStyle"></i></span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODAL POP-UP -->
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{retroInput.RetroTitle}}</h4>
        <button type="button" style="height: 5vh;font-size: medium;padding: revert;" class="btn btn-outline-dark"
            (click)="modal.dismiss('Cross click')"><i class="bi bi-x"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <!-- <label for="exampleFormControlTextarea1">Edit or Delete the point !</label> -->
            <textarea class="form-control" name="currentRetroPoint.Id" [(ngModel)]="currentRetroPoint.Text"
                id="currentRetroPoint.Id" rows="3">{{currentRetroPoint.Text}}</textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close(0)">Delete</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(currentRetroPoint)">Ok</button>
    </div>
</ng-template>
<!-- MODAL POP-UP -->